<!DOCTYPE html>
<html>
<head>
    <title>Information about the room you book: {{RoomNumber}}</title>
    <meta charset="utf-8"/>
</head>
<body>
    Information about the room you book.
    <br />
    Room: {{RoomNumber}}
    <br />
    Date: {{BookingDate}}
    <br />
    Booking Hours: {{BookingHours}}
    <br />
    We have removed this booking because someone already made an advanced reservation before. Our apologies for the inconvenience caused.
</body>
</html>
